// bower:scss
// endbower

body {
  padding: 0;
}

.bookmark {
  display: inline-block;
  border-radius: 4px;
  padding: 12px;
  margin: 4px;
  border: 1px solid rgba(24, 0, 255, 0.13);
  background-color: #13ebe8;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.20);
}
