<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="bookmarksApp">

  <div ng-controller="mainController as vm">
    <label>Search:</label>
    <input type="text" ng-model="search.title">
    <hr>
    <button type="button" ng-click="vm.addBookmark()">Add new bookmark</button>
    <hr>
    <ul>
      <li ng-repeat="bookmark in vm.bookmarks | filter:search:strict">
        <div>{{bookmark.id}}</div>
        <div>{{bookmark.title}}</div>
        <div>{{bookmark.creationDate | date}}</div>
        <button ng-click="vm.removeBookmark(bookmark.id)">Delete</button>
      </li>
    </ul>
  </div>
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/BookmarksService.js"></script>
    <script src="scripts/controllers/mainController.js"></script>
    <!-- endbuild -->
</body>
</html>
