<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="bookmarksApp">

  <div ng-controller="mainController as vm">
    <label>Search:</label>
    <input type="text" ng-model="search.title">
    <label>Order by:</label>
    <select ng-model="vm.orderBy">
      <option value="title">By Title</option>
      <option value="creationDate">By Date</option>
    </select>
    <hr>
    <button type="button" ng-click="vm.addBookmark()">Add new bookmark</button>
    <hr>
    <ul>
      <li ng-repeat="bookmark in vm.bookmarks | orderBy:vm.orderBy | filter:search:strict">
        <bookmark bookmark="bookmark" on-delete-bookmark="vm.removeBookmark(id)"></bookmark>
      </li>
    </ul>
  </div>
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/bookmark.js"></script>
    <script src="scripts/services/BookmarksService.js"></script>
    <script src="scripts/controllers/mainController.js"></script>
    <!-- endbuild -->
</body>
</html>
